:root {
  --color-bg: #282a36;
  --color-text-fg: #d4d4d1;
  --color-text-bg: #bcbfd0;
  /* #565a74 */
  --color-purple: #bd93f9;
}

body {
  background-color: white;
  margin: 50px;
}

.disabled {
  display: none;
}

.screenWrap {
  margin: auto;
  margin-top: 25px;

  height: 450px;
  width: 230px;
  background-color: darkgrey;
  border: 2px solid black;
  border-radius: 35px;
  box-shadow: 3px 6px;
}
.screen {
  margin: auto;
  margin-top: 25px;
  height: 400px;
  width: 200px;

  color: var(--color-text-fg);
  background-color: var(--color-bg);
}

h1 {
  font-size: larger;
}

.actionBar {
  display: flex;
  justify-content: right;
}
.actionBar i {
  font-size: large;
  margin: 2px;
}
.actionable {
  cursor: pointer;
  transition: color 200ms;
}
.actionable:hover {
  color: var(--color-purple);
}

.week {
  width: 200px;
}
.week,
.week td,
.week th {
  border: 1px solid white;
}
.week th,
.week td {
  max-width: 28px;
  width: 28px;
}
.week th {
  font-size: x-small;
  /* cursor: pointer; */
}
/* .week th:hover {
  font-style: italic;
  border: 1px solid var(--color-purple);
} */
.week td {
  font-size: xx-small;
  height: 80px;
  vertical-align: top;
}
.weekDay {
  text-align: right;
}

.classList,
.classList td {
  border-bottom: 1px dashed var(--color-text-bg);
}

.classItem {
  font-weight: bold;
  text-decoration: underline;

  border-radius: 5px;
  border: 1px solid var(--color-purple);

  padding-top: 2px;
  padding-bottom: 2px;

  transition: background-color 250ms;

  cursor: pointer;
}

.assignList,
.assignList td {
  border-top: none;
}

.assignItem {
  text-decoration: underline;

  border-radius: 5px;
  border: 1px solid var(--color-purple);

  color: var(--color-text-fg);
  background-color: var(--color-bg);

  padding-top: 2px;
  padding-bottom: 2px;

  transition: background-color 250ms;

  cursor: pointer;
}

.mth {
  border-color: turquoise;
}
.mth:hover {
  background-color: turquoise;
}

.wr {
  border-color: orangered;
}
.wr:hover {
  background-color: orangered;
}

.sci {
  border-color: greenyellow;
}
.sci:hover {
  background-color: greenyellow;
}

.newBtnContainer {
  display: flex;
  margin-top: 60px;
  justify-content: right;
  vertical-align: bottom;
}
.newBtnContainer i {
  color: var(--color-purple);
  padding: 5px;
  font-size: 40px;
  cursor: pointer;
  transition: color 200ms;
}
.newBtnContainer i:hover {
  color: green;
}

.detailWindow {
  position: absolute;
  width: calc(200px - 30px);
  height: calc(400px - 30px);

  margin: 15px;
  padding: 10px;

  border: 2px solid var(--color-purple);
  background-color: var(--color-bg);
}
.detailWindow h1 {
  font-size: large;
}
.detailWindow h2 {
  margin-top: 10px;
  font-size: medium;
}
.detailWindow table,
.detailWindow th,
.detailWindow td {
  font-size: smaller;
  border: 1px solid white;
  padding: 5px;
}
.detailWindow ul {
  font-size: small;
  list-style-type: "- ";
}

.relationsBox {
  height: 80px;
  padding: 5px;

  overflow: scroll;
  overflow-x: visible;

  color: black;
  background-color: white;
}

/* For assign creation */
.assignName {
  font-size: small;
  width: 100px;
}
.assignClass {
  margin-top: 10px;
  font-size: x-small;
}
.assignGrid {
  display: grid;
  grid-template-columns: 80px 80px;
}
.assignGridItem {
}
.assignGridItem h2 {
  max-width: 70px;
  font-size: x-small;
  margin-bottom: 1px;
}
.assignGridItem textarea {
  font-size: xx-small;
  width: 60px;
  height: 100px;
  max-height: 100px;
}

.assignSearchBox {
  color: black;
  font-size: small;

  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}
.assignSearchBox input,
.assignSearchBox label {
  cursor: pointer;
}

input[type="number"] {
  width: 50px;
  font-size: x-small;
}

.assignNewBtnContainer {
  display: flex;
  margin-top: 60px;
  justify-content: right;
  vertical-align: bottom;
}
.assignNewBtnContainer i {
  color: var(--color-purple);
  padding: 5px;
  font-size: 40px;
  cursor: pointer;
  transition: color 200ms;
}
.assignNewBtnContainer i:hover {
  color: green;
}

.closeWindow {
  position: absolute;
  width: fit-content;
  left: 110px;
}
.closeWindow.assign {
  left: 130px;
}
.closeWindow i.bi-x-circle {
  padding-left: 10px;
  color: red;
  transition: color 200ms;
  cursor: pointer;
}
.closeWindow i.bi-x-circle:hover {
  color: orange;
}
